<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <wsDualHttpBinding>
                <binding name="wsDualHttpBinding_IServerInterface"
                         clientBaseAddress="http://localhost:8000/myClient/"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/ATMS_Server/ATMS"
                binding="wsDualHttpBinding"
                bindingConfiguration="wsDualHttpBinding_IServerInterface"
                contract="ServiceReference1.IServerInterface"
                name="ServerEndpoint"/>
        </client>
    </system.serviceModel>
</configuration>


