<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ATMSBinding" maxReceivedMessageSize="2147483647" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxStringContentLength="8192" maxArrayLength="20971520" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8888/ATMS_Server/ATMS"
                binding="netTcpBinding"
                bindingConfiguration="ATMSBinding"
                contract="ServiceReference1.IServerInterface"
                name="netTcpBinding_IServerInterface">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
