<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
 
        <services>
          <service name="ATMS_Server.MainSimulation">
            <endpoint 
              
                address="http://localhost:8888/ATMS_Server/ATMS"
                binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IServerInterface"
                contract="ATMS_Server.IServerInterface" name="ATMS_Server.IServerInterface">
                
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            </service>
        </services>
    
       <bindings>
            <wsDualHttpBinding>
              <binding
                  name="WSDualHttpBinding_IServerInterface"
                  clientBaseAddress="http://localhost:8888/myClient/" >
                  <security mode="None"/>
              </binding>
                
            </wsDualHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>