<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServerInterface" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8888/ATMS_Server/ATMS"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServerInterface"
                contract="ServiceReference1.IServerInterface" name="NetTcpBinding_IServerInterface">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>